.vs
**/.vs

Source/czmtestkit.egg*

build

Documentation/build
Documentation/build/*

TestDirectory/*/Job*
TestDirectory/*/abaqus*

Source/czmtestkit/__pycache__
Source/czmtestkit/preprocessors/__pycache__
Source/czmtestkit/postprocessors/__pycache__
Source/czmtestkit/analytical/__pycache__